[submodule "angular-data-binding"]
	path = angular-data-binding
	url = https://github.com/bhagyaks/angular-data-binding.git
[submodule "reactive-form"]
	path = reactive-form
	url = https://github.com/bhagyaks/Angular-Reactive-Form.git
[submodule "angular-materials"]
	path = angular-materials
	url = https://github.com/bhagyaks/angular-materials.git
[submodule "angular-signals"]
	path = angular-signals
	url = https://github.com/bhagyaks/angular-signals.git
	branch = main
